body {
  background-color: #EAF6F6
}

img {
  height: 200px;
  width: 200px;
}

hr {
  border: 10px;
  border-style:none;
  border-top-style:dotted;
  background-color: #EAF6F6;
  color: #C3DBD9;
      width: 5%;

}
h1
{
  color: #66BFBF;
  font-family:cursive;

}
h3
{
  color: #66BFBF;
  font-family:cursive;
}
h4
{
  color: #524A4E;
font-family:cursive;
}
